<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<body>

#import gametime
#import os
#from abgx360 import abgx360

#set $res = abgx360.get_xex_game_patches($iso)
#set $patch_html_log = abgx360.stealth_patch_ssv2($iso, $res[1], $res[2], $res[0])
#set $html = open($patch_html_log).read()

<div>
    <frame marginheight="10" marginwidth="10">$html</frame>
</div>

#set $verify_html_log = abgx360.verify_stealth($iso, $res[0])
#set $stealth_success = abgx360.is_stealth_verified($verify_html_log, True)
#set $html2 = open($verify_html_log).read()

<div>
    <frame marginheight="10" marginwidth="10">$html2</frame>
</div>


</body>
</html>