<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<body>


<div>
    <span>abgx360 Patch SSv2 Output:</span>
    <br />
    <iframe height="40%" width="99%" src="/abgx360Patch?iso=$iso"></iframe>
</div>

<div>
    <span>abgx360 Verify Output:</span>
    <br />
    <iframe height="40%" width="99%" src="/abgx360Verify?iso=$iso&xex=$xex"></iframe>
</div>

</body>
</html>