
<div class="gt_info">
    <table>
        <tr>
            <td>
                <a href="$gametrailers.link"><img src="$gametrailers.boxart" width="125" /></a>
            </td>
            <td>
                <table>
                    <tr><th>Title:</th><td><a href="$gametrailers.link"><b>$gametrailers.title</b></a></td></tr>
                    <tr><th>System:</th><td>$gametrailers.system</td></tr>
                    <tr><th>Release Date:</th><td>$gametrailers.release_date</td></tr>
                    #set $score = $gametrailers.gt_score if $gametrailers.gt_score else "No Rating"
                    <tr><th>GT Score:</th><td>$score</td></tr>
                    #set $user = "%s  (%s Votes)" % ($gametrailers.user_score,$gametrailers.user_count) if $gametrailers.user_score else "No Rating"
                    <tr><th>User Score:</th><td>$user</td></tr>
                    #set $esrb = $gametrailers.esrb + " - " + $gametrailers.esrb_reason if $gametrailers.esrb_reason else $gametrailers.esrb
                    <tr><th>ESRB:</th><td>$esrb</td></tr>
                    <tr><th>Publisher:</th><td>$gametrailers.publisher</td></tr>
                    <tr><th>Developer:</th><td>$gametrailers.developer</td></tr>
                    <tr><th>Genres:</th><td>$gametrailers.genres</td></tr>
                    <tr><th>Summary:</th><td>$gametrailers.summary</td></tr>
                    <tr>
                        <th>Thumbnails:</th>
                        <td>
                            <img src="$gametrailers.banner_image" height="150"/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

