
<div class="gt_info">
    <table>
        <tr>
            <td>
                <a href="$gt.link"><img src="$gt.boxart" width="125" /></a>
            </td>
            <td>
                <table>
                    <tr><th>Title:</th><td><a href="$gt.link"><b>$gt.title</b></a></td></tr>
                    <tr><th>System:</th><td>$gt.system</td></tr>
                    <tr><th>Release Date:</th><td>$gt.release_date</td></tr>
                    #set $score = $gt.gt_score if $gt.gt_score else "No Rating"
                    <tr><th>GT Score:</th><td>$score</td></tr>
                    #set $user = "%s  (%s Votes)" % ($gt.user_score,$gt.user_count) if $gt.user_score else "No Rating"
                    <tr><th>User Score:</th><td>$user</td></tr>
                    #set $esrb = $gt.esrb + " - " + $gt.esrb_reason if $gt.esrb_reason else $gt.esrb
                    <tr><th>ESRB:</th><td>$esrb</td></tr>
                    <tr><th>Publisher:</th><td>$gt.publisher</td></tr>
                    <tr><th>Developer:</th><td>$gt.developer</td></tr>
                    <tr><th>Genres:</th><td>$gt.genres</td></tr>
                    <tr><th>Summary:</th><td>$gt.summary</td></tr>
                    <tr>
                        <th>Thumbnails:</th>
                        <td>
                            <img src="$gt.banner_image" height="150"/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

