<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
#import gametime
#import gametime.providers
#from gametime.providers import providers, GAME_PROVIDERS

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>GameTime - My Games</title>
<style type="text/css">
.even {
    background-color: #FFEECA;
}
</style>
</head>
<body>

<form name="queryForm" action="search">
    <input type="text" name="query" size="75px"/>
    <select name="site_id">
        #for $provider in $GAME_PROVIDERS.values():
        <option value="$provider.site_id">$provider.site_name</option>
        #end for
    </select>
    <input type="submit" value="Search" />
</form>

<div id="mygames">
<h2>My Games:</h2> <a href="/updateAllGames"><button>Update All Games</button></a>
<br />
<ul style="list-style-type:none">
#set $i = 0
#for $game in $mygames:
    <li>
        #set $cls = "even" if ($i % 2 == 0) else "odd"
        <div class="$cls" id="Game_$game.id">
            <table>
            <tr>
                <td>
                    <a href="updateGame?id=$game.id"><img src="$game.boxart" width="100px"/></a>
                </td>
                <td valign="top" style="padding-left:15px" >
                    <div>
                        #set $score = $game.my_rating if $game.my_rating else "No Rating"
                        <b><a href="/gameInfo?id=$game.id">$game.title [$game.system]</a></b> 
                        <br />
                        <b>Release Date:</b> $game.my_date.__str__() <br />
                        
                        #for $provider in $GAME_PROVIDERS.values():
                        #set $info_id = $game.__dict__[$provider.xref_id_column]
                        <a href="updateInfo?id=$game.id&site_id=$provider.site_id&info_id=$info_id" style="text-decoration:none">
                            <button type="button">
                                #if $info_id:
                                    Update $provider.site_name
                                #else:
                                    Get $provider.site_name Info
                                #end if
                            </button>
                        </a>
                        #end for
                        
                        <a href="removeGame?id=$game.id" style="text-decoration:none">
                            <button type="button">X</button>
                        </a>
                        <br />
                        $game.summary
                    </div>
                </td>
            </tr>
            </table>
        </div>
        <br />
    </li>
    #set $i = $i + 1
#end for
</ul>
</div>

</body>
</html>