<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
#from IGN import ign
#from IGN.ign import IGN
<ul>
#for $result in $results
    <li>
        <div>
            <img src="$result.boxart" style="display: inline" />
            <div style="display: inline">
                #set $id = IGN.get_id($result.link)
                <a href="addGame?ign_id=$id">$result.title [$result.system] - $result.score</a> <br />
                $result.description
            </div>
        </div>
        <br />
    </li>
    <br />
#end for
</ul>

</body>
</html>