<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<body>


<form name="verifyForm" method="post" action="doVerifyStealth">
    <input type="text" name="iso" id="iso" size="100" />
    <br />
    <input type="submit" value="Patch & Verify" />
</form>


</body>
</html>